.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo

dataset/

*.h5
*.keras
*.pth
*.pt

output/
runs/
logs/

.vscode/
tempCodeRunnerFile.py

dataset.zip
dataset/

# Evaluation outputs
evaluation/*.json
evaluation/*.txt
evaluation/*.png

# Archived models
model/archive/
